@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root
{
    /* Common Colors */
    --primary-color: #926EF5;
    --hero-gradient-color-1: #130047;
    --hero-gradient-color-2: #5C2A5F;
    --hero-gradient-color-3: #ED7D8F;
    
    --nav-btn-gradient-color-1: #EF7796;
    --nav-btn-gradient-color-2: #E4A577;
    
    /* Light Theme Colors */
    --light-background-color: #f5f5f5;
    --light-text-color: #212121;
    
    /* Dark Theme Colors */
    --dark-background-color: #212121;
    --light-text-color: #f5f5f5;



    /* Font Family */
    --Roboto: 'Roboto', sans-serif;
    --Roboto-Condensed: 'Roboto Condensed', sans-serif;
    --Roboto-Flex: 'Roboto Flex', sans-serif;
    --Roboto-Mono: 'Roboto Mono', monospace;
    --Roboto-Serif: 'Roboto Serif', serif;
    --Roboto-Slab: 'Roboto Slab', serif;
}

nav
{
    background: var(--hero-gradient-color-1);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    padding-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.dark
{
    border-bottom: #EF7796 2px solid;
}