<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Ukernaa</title>
</head>
<body>
    <nav id="nav">
        <div class="nav-left">
            <a href="../views/index.html">
                <img id="logo" src="../assets/UkernaaLogo.svg" alt="logo">
                <img id="logotext" src="../assets/UkernaaLogoText.svg" alt="logo">
            </a>
            </a>
        </div>
        <div class="nav-right">
            <ul>
                <li><a href="/">About</a></li>
                <li><a href="/">Contact</a></li>
                <li><a href="../views/login.html">Login</a></li>
            </ul>
            <a href="../views/register.html" class="btn nav-btn">Register</a>
            <button class="btn theme-btn"></button>
        </div>
    </nav>

    <section class="hero-section">
        <div class="hero-background">
            <div class="hero-heading">
                <h1>
                    Engraving modern knowledge to the wall of education
                </h1>
            </div>
        </div>
    </section>
    <img src="../assets/waves.svg" alt="waves">



    <script src="../javaScript/app.js"></script>
</body>
</html>