<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link rel="stylesheet" href="../stylesheet/other.css">
    <link rel="stylesheet" href="../stylesheet/register.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Register | Ukernaa</title>
</head>
<body>
    <nav id="nav">
        <div class="nav-left">
            <a href="../views/index.html">
                <img id="logo" src="../assets/UkernaaLogo.svg" alt="logo">
                <img id="logotext" src="../assets/UkernaaLogoText.svg" alt="logo">
            </a>
            </a>
        </div>
        <div class="nav-right">
            <ul>
                <li><a href="/">About</a></li>
                <li><a href="/">Contact</a></li>
                <li><a href="../views/login.html">Login</a></li>
            </ul>
            <a href="../views/register.html" class="btn nav-btn">Register</a>
            <button class="btn theme-btn"></button>
        </div>
    </nav>
    <section class="signup">
        <div class="signup-form">
            <div class="signup-container">
                <div class="signup-heading">
                    <h1>Sign Up</h1>
                </div>
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        
                        <div class="input">
                            <input type="text" name="name" id="name" placeholder="Enter Your Name">
                        </div>
                        
                        <label for="email">Email</label>
                        
                        <div class="input">
                            <input type="email" name="email" id="email" placeholder="Enter Your Email">
                        </div>
                        
                        <label>Password</label>
                        
                        <div class="input">
                            <input type="password" id="password" placeholder="Enter Your Password">
                        </div>
                        
                        <label>Confirm Password</label>
                        
                        <div class="input">
                            <input type="password" id="password" placeholder="Enter Your Password">
                            <span class="show-hide" onclick="showHide()"></span>
                        </div>
    
                        <div class="login-btn">
                            <button class="btn submit-btn" type="submit">Register</button>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <script src="../javaScript/signup.js"></script>
</body>
</html>